@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@700&family=Satisfy&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --dark: #DB2777;
    --text: #F3F4F6;
    --grey: #9CA3AF;
}

body {
    margin: 0;
    background-image: linear-gradient(to right, var(--text), var(--grey));
}

p {
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
}

.section {
    width: 100%;
    max-width: 500px;
    min-height: 200px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 2rem 1rem;
    text-align: center;
    background-color: var(--dark);
    color: var(--text);
    border-radius: 2%;
    box-shadow: 5px 5px #9CA3AF;
}

.label {
    font-size: 1.1rem;
    padding: 1rem 1.5rem;
}

input {
    width: 100%;
    padding: 0.6rem;
    height: 50%;
    display: block;
}

button {
    padding: 0.5rem 1.5rem;
    display: block;
    border: none;
    font-size: 1rem;
    margin: 1rem auto;
    background-color: var(--text);
    color: var(--dark);
    font-weight: bold;
    cursor: pointer;

}

.cashGiven {
    display: none;
}

.returnChange {
    display: none;
}

.errorMsg {
    padding-top: 0.3rem;
    color: white;
    font-weight: bold;
}

#output {
    margin: 1rem 0;
}

#output table,
th,
td {
    font-size: 0.9rem;
    padding: 0.2rem;
    color: var(--dark);
    background-color: var(--text);
    border: 2px solid var(--grey);
    border-collapse: collapse;
    font-weight: bold;
}

.noOfNotes {
    background-color: white;
    font-weight: bold;
}

table {
    width: 100%;
    table-layout: fixed;
}

th,
td {
    word-wrap: break-word;
}

